body {
	font-size: 1.5rem;
	font-family: "Elza Trial", sans-serif;
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background-color: #f6f6f6;
	color: #320e3b;
	counter-reset: my-list;
}

#show_bg {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.73)),
    url('img/tim-marshall-cAtzHUz7Z8g-unsplash.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

#topnav {
  background: black;
  display:block;
  height: 50px;
  top: 0;
}
  
#logo {
 background:#000 url(img/charity-logo.svg) no-repeat center top;
 height: 40px;
 width: 50px;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 10px;
 top: 0;
}

#logo a {
   color: yellow;
   display:block;
   position:absolute;
   /* width:300px; */
   z-index:100; /* Places <span> on top of <a> text */  
   text-decoration: none;
   margin-left: 50px;
 }
   
.container {
	height: 200px;
	width: 500px;
	margin: auto;
	padding: 50px 70px;
	margin-top: 100px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
	text-align: center;
}

a {
	text-decoration-line: none;

}

h1 {
	font-size: 2rem;
}

li {
	padding: 8px;
	padding-left: 40px;
	transition: ease 400ms;
	cursor: pointer;
	display: flex;
	letter-spacing: 1px;
	opacity: 0.85;
}

li:hover {
	transform: translateX(20px);
	opacity: 1;
}

li:focus-visible {
	outline: 2px solid red;
	outline-offset: 2px;
	border-radius: 4px;
}

.my-list {
	list-style: none;
	counter-reset: ordered-list;
}

li:before {
	counter-increment: ordered-list;
	content: counter(ordered-list);
	font-family: "Sharpie", sans-serif;
	margin-right: 10px;
	background-color: darkred;
	color: #f6f6f6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
}


#footer {
  background: black;
  color: darkgrey;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-left: 10px;
  text-align: center;
  
}

#footer a {
  color: white;  
}

